In [1]:
import pandas as pd
import sqlalchemy

In [2]:
engin = sqlalchemy.create_engine('mysql+pymysql://root:@localhost:3306/pandas_data')

In [3]:
engin

Engine(mysql+pymysql://root:***@localhost:3306/pandas_data)

In [4]:
df = pd.read_sql_table('customer' ,engin)
df

   cust_id    name   phone_no
0        1   Ahmed  300502515
1        2  muneeb   30452515
2        3  muneeb   30458534

In [5]:
df = pd.read_sql_table('customer' ,engin , columns = ['name', 'phone_no'])
df

     name   phone_no
0   Ahmed  300502515
1  muneeb   30452515
2  muneeb   30458534

In [6]:
query = '''
select customer.name , customer.phone_no , orderz.name , orderz.amount
    from customer inner join orderz
    on customer.cust_id = customer_id
'''
df = pd.read_sql_query(query , engin)  ## chunksize can be use to load huge amount of data into baches
df

     name   phone_no    name  amount
0  muneeb   30452515  muneeb     200
1   Ahmed  300502515   ahmed     200
2  muneeb   30458534    khan     200

In [7]:
df = pd.read_csv("abc2.csv")
df

   cust_id   name         phone
0       10   Ahmed  30614114589
1       11  Wajhat  30614114587
2       12  Muneeb  30614114587
3       13  Hafeez  30614114581
4       14   Tashi  30614114580

In [8]:
df.rename(columns={
    'phone' : 'phone_no',
    'name ' : 'name '
},inplace = True )
df

   cust_id   name      phone_no
0       10   Ahmed  30614114589
1       11  Wajhat  30614114587
2       12  Muneeb  30614114587
3       13  Hafeez  30614114581
4       14   Tashi  30614114580

In [9]:
df.to_sql(
    name='customer',
    con=engin,
    index=False,
    if_exists = 'append'
)

InternalError: (pymysql.err.InternalError) (1054, "Unknown column 'name ' in 'field list'")
[SQL: INSERT INTO customer (cust_id, `name `, phone_no) VALUES (%(cust_id)s, %(name )s, %(phone_no)s)]
[parameters: ({'cust_id': 10, 'name ': 'Ahmed', 'phone_no': 30614114589}, {'cust_id': 11, 'name ': 'Wajhat', 'phone_no': 30614114587}, {'cust_id': 12, 'name ': 'Muneeb', 'phone_no': 30614114587}, {'cust_id': 13, 'name ': 'Hafeez', 'phone_no': 30614114581}, {'cust_id': 14, 'name ': 'Tashi', 'phone_no': 30614114580})]
(Background on this error at: http://sqlalche.me/e/2j85)

In [10]:
pd.read_sql("customer",engin)  ## else then table query can also be provided

   cust_id    name   phone_no
0        1   Ahmed  300502515
1        2  muneeb   30452515
2        3  muneeb   30458534