In [1]:
import pandas as pd

In [2]:
dates = ['2017-05-01 02:30:00 PM' , 'jan 5 , 2017 14:30:00' , '01/05/2017' , '2017.01.05' , '20170504' , '2017/09/11']

pd.to_datetime(dates)

DatetimeIndex(['2017-05-01 14:30:00', '2017-01-05 14:30:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-05-04 00:00:00', '2017-09-11 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [3]:
pd.to_datetime('5/1/2017' , dayfirst=True)

Timestamp('2017-01-05 00:00:00')

In [4]:
pd.to_datetime('5$1$2017' , format = '%d$%m$%Y')

Timestamp('2017-01-05 00:00:00')

In [5]:
dates = ['2017-05-01 02:30:00 PM' , 'jan 5 , 2017 14:30:00' , '01/05/2017' , '2017.01.05' , '20170504' , '2017/09/11' , 'abc']

pd.to_datetime(dates , errors ='ignore')

Index(['2017-05-01 02:30:00 PM', 'jan 5 , 2017 14:30:00', '01/05/2017',
       '2017.01.05', '20170504', '2017/09/11', 'abc'],
      dtype='object')

In [6]:
dates = ['2017-05-01 02:30:00 PM' , 'jan 5 , 2017 14:30:00' , '01/05/2017' , '2017.01.05' , '20170504' , '2017/09/11' , 'abc']

pd.to_datetime(dates , errors ='coerce')

DatetimeIndex(['2017-05-01 14:30:00', '2017-01-05 14:30:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-05-04 00:00:00', '2017-09-11 00:00:00',
                               'NaT'],
              dtype='datetime64[ns]', freq=None)

In [7]:
y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [8]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [9]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [10]:
m = pd.Period('2011-1' , freq = 'M')
m

Period('2011-01', 'M')

In [11]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [12]:
m+1

Period('2011-02', 'M')

In [13]:
d = pd.Period('2017-02-28' , freq='D')

In [14]:
d

Period('2017-02-28', 'D')

In [15]:
d+1

Period('2017-03-01', 'D')

In [16]:
h = pd.Period('2017-02-28 23:00:00' , freq='H')
h

Period('2017-02-28 23:00', 'H')

In [17]:
 h.end_time

Timestamp('2017-02-28 23:59:59.999999999')

In [18]:
q = pd.Period('2017Q1')  ##qutter time period
q

Period('2017Q1', 'Q-DEC')

In [19]:
q+1

Period('2017Q2', 'Q-DEC')

In [20]:
q = pd.Period('2017Q1' , freq = 'Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [21]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [22]:
q.asfreq('M' , how="start")

Period('2016-02', 'M')

In [23]:
q2 = pd.Period('2018Q2' , freq = 'Q-JAN')
q2-q

In [24]:
idx = pd.period_range('2017' , '2019' , freq = 'Q') ## period index
idx

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1', '2018Q2',
             '2018Q3', '2018Q4', '2019Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [25]:
idx = pd.period_range('2017' , periods=10 , freq = 'Q') ## period index
idx

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1', '2018Q2',
             '2018Q3', '2018Q4', '2019Q1', '2019Q2'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [26]:
idx[0].start_time

Timestamp('2017-01-01 00:00:00')

In [27]:
idx[0].end_time

Timestamp('2017-03-31 23:59:59.999999999')

In [28]:
import numpy as np    ## period index
ps = pd.Series(np.random.randn(len(idx)) , idx)
ps

2017Q1    0.465863
2017Q2   -1.431013
2017Q3   -0.830727
2017Q4   -0.601378
2018Q1    1.972127
2018Q2   -0.569144
2018Q3    0.249851
2018Q4    0.424388
2019Q1    1.925610
2019Q2   -0.487528
Freq: Q-DEC, dtype: float64

In [29]:
ps.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1', '2018Q2',
             '2018Q3', '2018Q4', '2019Q1', '2019Q2'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [30]:
ps['2017']  ## due to period index

2017Q1    0.465863
2017Q2   -1.431013
2017Q3   -0.830727
2017Q4   -0.601378
Freq: Q-DEC, dtype: float64

In [31]:
ps['2017' : '2018']

2017Q1    0.465863
2017Q2   -1.431013
2017Q3   -0.830727
2017Q4   -0.601378
2018Q1    1.972127
2018Q2   -0.569144
2018Q3    0.249851
2018Q4    0.424388
Freq: Q-DEC, dtype: float64

In [32]:
pst = ps.to_timestamp()   ##converting into date time index
pst

2017-01-01    0.465863
2017-04-01   -1.431013
2017-07-01   -0.830727
2017-10-01   -0.601378
2018-01-01    1.972127
2018-04-01   -0.569144
2018-07-01    0.249851
2018-10-01    0.424388
2019-01-01    1.925610
2019-04-01   -0.487528
Freq: QS-OCT, dtype: float64

In [33]:
check = pst.to_period()
check

2017Q1    0.465863
2017Q2   -1.431013
2017Q3   -0.830727
2017Q4   -0.601378
2018Q1    1.972127
2018Q2   -0.569144
2018Q3    0.249851
2018Q4    0.424388
2019Q1    1.925610
2019Q2   -0.487528
Freq: Q-DEC, dtype: float64

In [38]:
df = pd.read_csv('walmar.csv')
df

   Line item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0    Revenue  115904  120854  118179  130936  117542
1  Expreness   86544   89485   87484   97743   87688
2     Profit   29360   31369   30695   33193   29854

In [39]:
df.set_index('Line item' , inplace = True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line item
Revenue    115904  120854  118179  130936  117542
Expreness   86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [40]:
df = df.T  ## take transpose if df
df

Line item  Revenue  Expreness  Profit
2017Q1      115904      86544   29360
2017Q2      120854      89485   31369
2017Q3      118179      87484   30695
2017Q4      130936      97743   33193
2018Q1      117542      87688   29854

In [41]:
df.index = pd.PeriodIndex(df.index , freq = 'Q-JAN')  ##converting into period index
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [42]:
df['start date'] = df.index.map(lambda x: x.start_time)  ##function that will itrate through the arguments having lambda use for quiz function inline defining
df

Line item  Revenue  Expreness  Profit start date
2017Q1      115904      86544   29360 2016-02-01
2017Q2      120854      89485   31369 2016-05-01
2017Q3      118179      87484   30695 2016-08-01
2017Q4      130936      97743   33193 2016-11-01
2018Q1      117542      87688   29854 2017-02-01

In [44]:
df['end date'] = df.index.map(lambda x: x.end_time)
df

Line item,Revenue,Expreness,Profit,start date,end time,end date
2017Q1,115904,86544,29360,2016-02-01,2016-04-30 23:59:59.999999999,2016-04-30 23:59:59.999999999
2017Q2,120854,89485,31369,2016-05-01,2016-07-31 23:59:59.999999999,2016-07-31 23:59:59.999999999
2017Q3,118179,87484,30695,2016-08-01,2016-10-31 23:59:59.999999999,2016-10-31 23:59:59.999999999
2017Q4,130936,97743,33193,2016-11-01,2017-01-31 23:59:59.999999999,2017-01-31 23:59:59.999999999
2018Q1,117542,87688,29854,2017-02-01,2017-04-30 23:59:59.999999999,2017-04-30 23:59:59.999999999